html {
    scroll-behavior: smooth;
}

.navbar-brand {
    font-family: 'Exo';
    font-size: 30px;
    color: #030e33;
}

.nav-item {
    font-family: 'Exo';
    color: #030e33;
    margin-left: 30px;
}



.jumbotron-fluid {
    background-image: url(assets/img/background2.png);
    background-size: cover;
    height: 644px;
    margin-top: -100px;


}

.display-4 {
    margin-top: 200px;
    text-align: left;
    font-size: 50px;
    font-family: 'Exo';
    color: #030e33;
}

.display-5 {
    margin-top: 20px;
    text-align: left;
    font-size: 80px;
    font-family: 'Exo';
    color: #030e33;
}

.row {
    margin-top: 100px;
    height: 600px;
}

.img-cmg {
    width: 80vh;
    margin-top: 60px;
}

h3 {
    padding-top: 30px;
    font-family: 'Exo';
    color: #030e33;
}

p {
    margin-bottom: 200px;
}

.footer {
    background-color: #030e33;
    color: white;
    text-align: center;
    padding-top: 40px;
    height: 100px;

}